                   .footer-icons ul {
                       line-height: 52px;
                       font-size: 25px;
                       margin: 0;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                   }
                   
                   .footer-icons ul li {
                       list-style: none;
                       margin: 0 10px;
                       justify-content: center !important;
                   }
                   
                   .footer-icons ul li .fab {
                       color: #000000;
                       font-size: 25px;
                       line-height: 50px;
                       transition: 0.5s;
                   }
                   
                   .footer-icons ul li .fas {
                       color: #000000;
                       font-size: 25px;
                       line-height: 50px;
                       transition: 0.5s;
                   }
                   
                   .footer-icons ul li .fab:hover {
                       color: #ffffff;
                   }
                   
                   .footer-icons ul li .fas:hover {
                       color: #ffffff;
                   }
                   
                   .footer-icons ul li a {
                       position: relative;
                       display: block;
                       width: 50px;
                       height: 50px;
                       border-radius: 50%;
                       background-color: #ffffff;
                       text-align: center;
                       transition: 0.5s;
                       transform: translate(0, 0px);
                       box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
                   }
                   
                   .footer-icons ul li a:hover {
                       transform: rotate(0deg) skew(0deg) translate(0, -10px);
                   }
                   
                   .footer-icons ul li:nth-child(1) a:hover {
                       background-color: #e84393;
                   }
                   
                   .footer-icons ul li:nth-child(2) a:hover {
                       background-color: #7289da;
                   }
                   
                   .footer-icons ul li:nth-child(3) a:hover {
                       background-color: #cd201f;
                   }

